.backlog-page{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    /* background-color: cadetblue; */
    padding: 30px;
}
.backlog-head{
    display: flex;
    justify-content: space-between;
}

.add-button{
    width: 115px;
    height: 35px;
    border: none;
    box-shadow: 2px 3px 5px lightgrey;
    border-radius: 20px;
    cursor: pointer;
}