.work-item-title {
    align-items: center;
}

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #8f8d8d;
}

.status-dot.new {
    background-color: #3a3939;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.work-item-status {
    align-items: center;
    gap: 8px;
    height: 100%;
}